mat-toolbar {
  background: #004a9f;
  color: white;
  height: 8vh;
}

mat-sidenav {
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 2px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 120px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: calc(100vh - 55px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}


.logOut{
  border: none;
  outline: none;
  background-color: #ffc104;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 8px;
  font-size: 11px;
  padding-top: .5em;
  padding-bottom: .5em;


}

.logOut:hover{
  background-color: rgb(255, 145, 0);

  font-size: 11px;
}