<nav class="navbar navbar-expand-lg navbar-light sticky-top dandelion justify-content-center" id ="dandelion">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="/assets/images/logo1.png" class="logo" alt="Dandelion">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  order-2" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/courses" id="courses" class="nav-item nav-link">Courses</a>
                <a href="/news" id="news" class="nav-item nav-link">News</a>
                <a href="/about" id="about" class="nav-item nav-link">About</a>
            </div>
            <div class="navbar-nav ms-auto mobile">
                <a class="btn btn-warning" routerLink="login">Login</a>
            </div>
            
        </div>
        <span class="navbar-text small desktop text-truncate mt-1 text-right order-1 order-md-last">
            <a class="btn btn-warning" href="/login">Login</a>
        </span>
        <!-- <button type="button" class="navbar-toggler mobile" data-bs-toggle="collapse" data-bs-target="#navbarCollapsem">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse  mobile" id="navbarCollapsem">
            <div class="navbar-nav">
                <a href="/courses" id="courses" class="nav-item nav-link">Courses</a>
                <a href="/news" id="news" class="nav-item nav-link">News</a>
                <a href="/about" id="about" class="nav-item nav-link">About</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="btn btn-warning" href="/login">Login</a>
            </div>
        </div> -->


        <!-- <ul class="navbar-nav abs-center-x">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-center order-2" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/courses" id="courses" class="nav-item nav-link">Courses</a>
                    <a href="/news" id="news" class="nav-item nav-link">News</a>
                    <a href="/about" id="about" class="nav-item nav-link">About</a>
                </div>
               
            </div>
        </ul>
        <ul class="navbar-nav ml-auto desktop">
            <a class="btn btn-warning" href="/login">Login</a>
        </ul> -->
    </div>
</nav>
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-custom-color sidedisplaynone">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <ul id="collapseExample1" class="collapse show list-group list-group-flush">
                <li class="list-group-item">
                    <a href="#sidebar-link-1" class="text-reset sidebar-link">What is Perimenopause and Menopause</a>
                </li>
                <li class="list-group-item">
                    <a href="#sidebar-link-2" class="text-reset sidebar-link" >Understanding your hormones</a>
                </li>
                <li class="list-group-item">
                    <a href="#sidebar-link-3" class="text-reset sidebar-link">Sign and Symptoms</a>
                </li>
                <li class="list-group-item">
                    <a href="#sidebar-link-4" class="text-reset sidebar-link">Workplace support and adjustments</a>
                </li>
                <li class="list-group-item">
                    <a href="#sidebar-link-5" class="text-reset sidebar-link">Workplace responsibilities</a>
                </li>
                <li class="list-group-item">
                    <a href="#sidebar-link-6" class="text-reset sidebar-link">Lifestyle changes</a>
                </li>
                <li class="list-group-item">
                    <a href="#sidebar-link-7" class="text-reset sidebar-link">Mental health</a>
                </li>
                <li class="list-group-item">
                    <a href="#sidebar-link-8" class="text-reset sidebar-link">Signposting and further resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>