<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="course1-tab" data-bs-toggle="tab" data-bs-target="#course1" type="button" role="tab" aria-controls="home" aria-selected="true">Module 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="course2-tab" data-bs-toggle="tab" data-bs-target="#course2" type="button" role="tab" aria-controls="home" aria-selected="true">Module 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="course3-tab" data-bs-toggle="tab" data-bs-target="#course3" type="button" role="tab" aria-controls="home" aria-selected="true">Module 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="course4-tab" data-bs-toggle="tab" data-bs-target="#course4" type="button" role="tab" aria-controls="home" aria-selected="true">Module 4</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="course1" role="tabpanel" aria-labelledby="course1-tab">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" (click)="onGo()">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
            </div>

            <div class="col-2">
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="course2" role="tabpanel" aria-labelledby="course2-tab">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>

                </div>
            </div>

            <div class="col-2">
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="course3" role="tabpanel" aria-labelledby="course3-tab">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png"  alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>

            </div>

            <div class="col-2">
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="course4" role="tabpanel" aria-labelledby="course4-tab">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li class="products__list-item">
                            <a class="course-card course-card__public published" href="/courses/bcs-artificial-intelligence-ai-foundation-demo">
                              <div class="course-card__body">
                                <p class="course-card__category">
                                    Course Category
                                </p>
                                <h3>Menstrual Cycle Support  Demo</h3>
                              </div>
                              <div class="course-card__details">
                                <span class="course-card__lesson-count"><strong>30 Lessons</strong></span>
                                <span class="course-card__price"><strong>Free</strong></span>
                              </div>
                              <div class="course-card__img-container">
                                <img src="/assets/images/course.png" alt="" class="course-card__img" loading="lazy">
                              </div>
                            </a>
                        </li>
                    </div>
                </div>
            </div>

            <div class="col-2">
            </div>
        </div>
    </div>
</div>
