<button
  mat-raised-button
  color="success"
  [routerLink]="['/layout', { outlets: { second: [] } }]"
>
  Courses Dashboard
</button>
<button
  mat-raised-button
  [routerLink]="['/layout', { outlets: { second: ['create-course'] } }]"
>
  Create Course
</button>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-home-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-home"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
    >
      Course Details
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
    tabindex="0"
  >
    <h2 class="mat-h2">Courses Details</h2>
    <form
      class="example-form"
      [formGroup]="courseForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="Enter Please Title"
          value=""
        />
      </mat-form-field>
            

      <mat-form-field class="example-full-width">
        <ngx-mat-file-input
          formControlName="photoURL"
          placeholder="Insert File"
        ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
      <div>
        <quill-editor formControlName="description"> </quill-editor>
      </div>
      <button
        type="submit"
        [disabled]="!courseForm.valid"
        mat-raised-button
        color="accent"
        class="save"
      >
        Save
      </button>
    </form>
  </div>
</div>
