<button mat-raised-button color="success" [routerLink]="['/layout',{outlets:{'second':[]}}]">Courses Dashboard</button>
<button mat-raised-button  [routerLink]="['/layout',{outlets:{'second':['create-course']}}]">Create Course</button>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
        <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button"
            role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <button mat-raised-button color="accent" class="topic" (click)="openDialog()">Create Topic</button>
        <h2 class="mat-h2">Courses Details</h2>
        <form class="example-form" [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" placeholder="Enter Please Title" value="">
            </mat-form-field>
        
        
            <!-- <mat-form-field class="example-full-width">
                <ngx-mat-file-input formControlName="photourl" placeholder="Insert File"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
             
            </mat-form-field> -->
            <div>
                   <quill-editor formControlName="description"> </quill-editor>
            </div>
        
            <button type="submit" [disabled]="!editForm.valid" mat-raised-button color="accent" class="save">Save</button>
        </form>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0"><h2 class="mat-h2">Topic Details</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter Please Title" value="">
        </mat-form-field>
        <div >
            <mat-label>Over View</mat-label>
            <quill-editor> </quill-editor>
        </div>
        <mat-form-field class="example-full-width">
            <ngx-mat-file-input formControlName="file" placeholder="Insert File"></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <quill-editor> </quill-editor>
    </form>
    <div class="over2">
        <mat-label>Over View 2</mat-label>
        <quill-editor> </quill-editor>
    </div>
    <button mat-raised-button color="accent" class="save">Save Changes</button></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...
    </div>
</div>