<div style="margin-bottom: 5em; height: 100vh;">
		<app-header></app-header>

	<div class="d-flex justify-content-center text-center">
		<div>
			<h5 style="font-size:24px; font-weight:600">Title</h5>
			<p style="font-size:16px">Title discription of the topic</p>
		</div>
	</div>
	<div class="row" style="display: flex; justify-content:center;">
		<div class="col-11">
			<div class="row" style="margin-bottom: .5em;">
				<p>Content Overview</p>
			</div>
			<div class="row">
				<div class="col-2" style="background-color:#d87460; text-align: center;">
					<p class="pTitle">Strogen</p>
					<div style="margin-bottom:1em ; color: white;">
						<span>Confident, </span>
						<span>alluring,</span>
						<span>sensual,</span>
						<span>fertile,</span>
					</div>
					<p style="color: white;">Great sking, feels good, gives you sass, like attention and even creates a more
						symmetrical apperiance
					</p>
					<p style="margin-top: 1em; color:rgb(193, 6, 6); font-size:18px; font-weight:400">Goal: to Rule The world</p>
				</div>
				<div class="col-1">
					<div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
						(cdkDropListDropped)="drop($event)">
						<div class="dropEle" *ngFor="let item of todo" cdkDrag>{{item}}</div>
					</div>
				</div>
				<div class="col" style="display:flex; align-items:center;">
					<img style="width:100%;" src="../../assets/images/image-011.jpg" alt="">
				</div>
				<div class="col-1">
					<div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
						(cdkDropListDropped)="drop($event)">
						<div class="dropEle" *ngFor="let item of todo" cdkDrag>{{item}}</div>
					</div>
				</div>
				<div class="col" style="height: inherit; background-color: #e88009;">
					<div cdkDropList #doneList="cdkDropList" style="height:100%; margin-bottom: 0;" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
					 (cdkDropListDropped)="drop($event)">
						<div class="row gy-0">
							<div [ngClass]="(done.length == i+1 && odd)?'col-12':'col-6'" *ngFor="let item of done let i = index" cdkDrag>
								<div class="items" >
									{{item}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 1em; width: 100%;">
				<p>Content Overview</p>
				<div style="width:100%">
					<quill-editor [formControl]="control"></quill-editor>

				</div>
				<div style="margin-top:.5em ;">
					<button type="button" class="btn btn-success" (click)="data()">Success</button>
				</div>
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>