@import '../node_modules/quill/dist/quill.snow.css';

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
