<div class="container-fluid main-homepage">
    <div class="row mt-3 mb-3 sidebar-link" id="sidebar-link-1">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-020.jpg" class="homepage-img">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>What is  Perimenopause and Menopause</h4>
                <p>
                  Perimenopause means "around menopause" and refers to the time during which your body makes the natural transition to menopause,
                  marking the end of the reproductive years. Perimenopause is also called the menopausal transition.
                  <br>
                  <br>
                  Women start perimenopause at different ages. You may notice signs of progression toward menopause,
                  such as menstrual irregularity, sometime in your 40s. But some women notice changes as early as their mid-30s.
                  <br>
                  <br>
                  Menopause is a point in time 12 months after a woman's last period. The years leading up to that point, when women may have changes in
                  their monthly cycles, hot flashes, or other symptoms, are called the menopausal transition or perimenopause.
                  <br>
                  <br>
                  The menopausal transition most often begins between ages 45 and 55. It usually lasts about seven years but can be
                  as long as 14 years. The duration can depend on lifestyle factors such as smoking, age it begins, and race and ethnicity.
                   During perimenopause, the body's production of estrogen and progesterone, two hormones made by the ovaries, varies greatly.
                </p>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more &larr;<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="row mt-3 mb-3 sidebar-link" id ="sidebar-link-2">

        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>Understanding your hormones</h4>
                <p> Hormones are the most potent chemical messengers in our bodies. They control your metabolism, hunger,
                   mood, sleep, stress, sex drive, fertility and so much more. They quite literally tell your body to do what it’s supposed to do and when.
                   <br>
                   <br>
                   The endocrine glands—including the pituitary, thyroid, adrenal glands, and ovaries, among others—are in control of hormonal production.
                   The interconnectedness of these glands and hormones create a very delicate balance with each other to keep the body functioning optimally.
                </p>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-007.jpg" class="homepage-img">
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="row mt-3 mb-3 sidebar-link" id="sidebar-link-3">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-020.jpg" class="homepage-img">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>Sign and Symptoms</h4>
                <p>Throughout the menopausal transition, some subtle  and some not-so-subtle  changes in your body may take place. You might experience:</p>
                  <ul>
                    <li><b>Irregular periods.</b> As ovulation becomes more unpredictable, the length of time between periods may be longer or shorter,
                      your flow may be light to heavy, and you may skip some periods.
                    </li>
                    <li><b>Hot flashes and sleep problems.</b> Hot flashes are common during perimenopause. The intensity, length and frequency vary.
                      Sleep problems are often due to hot flashes or night sweats, but sometimes sleep becomes unpredictable even without them.
                    </li>
                    <li><b> Mood changes</b> Mood swings, irritability or increased risk of depression may happen during perimenopause.
                      The cause of these symptoms may be sleep disruption associated with hot flashes. Mood changes may also be caused by
                      factors not related to the hormonal changes of perimenopause.
                    </li>
                  </ul>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="row mt-3 mb-3 sidebar-link" id ="sidebar-link-4">

        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>Workplace support and adjustments</h4>
                <p> Hormones are the most potent chemical messengers in our bodies. They control your metabolism, hunger,
                  mood, sleep, stress, sex drive, fertility and so much more. They quite literally tell your body to do what it’s supposed to do and when.
                  <br>
                  <br>
                  The endocrine glands—including the pituitary, thyroid, adrenal glands, and ovaries, among others—are in control of hormonal production.
                  The interconnectedness of these glands and hormones create a very delicate balance with each other to keep the body functioning optimally.
                </p>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-011.jpg" class="homepage-img">
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="row mt-3 mb-3 sidebar-link" id="sidebar-link-5">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-020.jpg" class="homepage-img">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>Workplace responsibilities                </h4>
                <p>Hormones are the most potent chemical messengers in our bodies. They control your metabolism, hunger,
                  mood, sleep, stress, sex drive, fertility and so much more. They quite literally tell your body to do what it’s supposed to do and when.
                  <br>
                  <br>
                  The endocrine glands—including the pituitary, thyroid, adrenal glands, and ovaries, among others—are in control of hormonal production.
                  The interconnectedness of these glands and hormones create a very delicate balance with each other to keep the body functioning optimally.
                </p>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="row mt-3 mb-3 sidebar-link" id ="sidebar-link-6">

        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>Lifestyle changes</h4>
                <p> Hormones are the most potent chemical messengers in our bodies. They control your metabolism, hunger,
                  mood, sleep, stress, sex drive, fertility and so much more. They quite literally tell your body to do what it’s supposed to do and when.
                  <br>
                  <br>
                  The endocrine glands—including the pituitary, thyroid, adrenal glands, and ovaries, among others—are in control of hormonal production.
                  The interconnectedness of these glands and hormones create a very delicate balance with each other to keep the body functioning optimally.
                </p>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-044.jpg" class="homepage-img">
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="row mb-5 mt-5 sidebar-link" id="sidebar-link-7">
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-015.jpg" class="homepage-img">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>Mental health</h4>
                <p>Hormones are the most potent chemical messengers in our bodies. They control your metabolism, hunger,
                  mood, sleep, stress, sex drive, fertility and so much more. They quite literally tell your body to do what it’s supposed to do and when.
                  <br>
                  <br>
                  The endocrine glands—including the pituitary, thyroid, adrenal glands, and ovaries, among others—are in control of hormonal production.
                  The interconnectedness of these glands and hormones create a very delicate balance with each other to keep the body functioning optimally.
                </p>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="row mb-5 mt-5 sidebar-link" id ="sidebar-link-8">

        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <div class="right-homepage-text">
                <h4>Signposting and further resources</h4>
                <p> Hormones are the most potent chemical messengers in our bodies. They control your metabolism, hunger,
                  mood, sleep, stress, sex drive, fertility and so much more. They quite literally tell your body to do what it’s supposed to do and when.
                  <br>
                  <br>
                  The endocrine glands—including the pituitary, thyroid, adrenal glands, and ovaries, among others—are in control of hormonal production.
                  The interconnectedness of these glands and hormones create a very delicate balance with each other to keep the body functioning optimally.
                </p>
                <div class="learn-more">
                    <a class="btn btn-warning" href="#">Learn more <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mb-3">
            <img src="/assets/images/image-010.jpg" class="homepage-img">
        </div>
    </div>
    <hr class="hr-seperator">
    <div class="slick-wrapper" >
        <h1 style="text-align:center; padding-bottom:10px;">Kind words</h1>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let image of images" class="slide">
                <div class="col-xs-3 testimonialwrapper">
                    <div class="starrating">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                    </div>
                    <p class="description">This is a sample Testimony-In the above testimonial, a customer named Jeanine shares her experience with Briogeo’s products.
                      While the post is scattered with too many product mentions, it takes full advantage of its real estate by allowing the writer to
                      tell us how the company’s products improved her routine. We’re taken on a journey that begins with Jeanine introducing
                      herself and ends with her reservations and successes using the product..</p>
                    <div class="authorcontainer">
                        <span class="author">Sarah Jamieson - Individual , Self-Funded</span>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>

