.form-group.required .control-label:after {
    content:"*";color:red;
  }
  select.select.form-control-lg.select-register {
    width: 100%;
    height: 50px;
}
.sign-up-title {
  text-align: center;
}
.register-submit {
  text-align: center;
  margin: 0 35%;
}

.red-border{
  border-color: red;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
}